* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin: 100px;
  width: auto;
  height: 40px;
  background-color: yellow;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;  
  margin: 100px;
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

#changeKeyboard {
margin-top: 40px;
margin-left: 20px;
}

#sentence {
  margin: 20px;
}